# ignore all *.a and *.o files
*.[oa]
# ignore all files in bin/
bin/*
doxygen/*
obj/*
libs/FileGDB_API/samples/*
libs/FileGDB_API_32Bit/samples/*
test/bin/*
test/obj/*
test/build/*
test/data/*
test/tost.gdb/*
test/test.gdb/*
# ignore the following file endings
*.[orig]
*.[bak]
*.[~]
*.[log]
doc/html/*
doc/latex/*
